{% extends "home/base.html" %}
{% block h1_header %}
  <h1>Restaurants</h1>
  {% for resto in restaurants %}
  <ul class="list-inline">
    <li class="list-inline-item">Nombre: {{resto.resto_name}}</li>
    <li class="list-inline-item">Categor&iacute;a: {{resto.category}}</li>
    <li class="list-inline-item">Clasificaci&oacute;n: {{resto.stars}} estrellas</li>
    <li class="list-inline-item">Permite reservas: {{resto.reservation}}</li>
  </ul>
  {% endfor %}
{% endblock h1_header %}
{% block mid_section %}
    <!-- Call to Action-->
    <section class="text-black text-center" id="signup">
      <div class="container position-relative">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <h2 class="mb-4">¿Qu&eacute; acci&oacute;n desea realizar?</h2>
            <!-- Form access buttons -->
            <div class="row justify-content-center">
              <div class="col-auto"><a href="{% url "restaurants-search" %}"><button class="btn btn-primary btn-lg" id="submitButton">Buscar</button></a></div>
              <div class="col-auto"><a href="{% url "restaurants-input" %}"><button class="btn btn-primary btn-lg" id="submitButton">Agregar</button></a></div>
              <!-- <div class="col-auto"><a href=""><button class="btn btn-primary btn-lg" id="submitButton">Editar</button></a></div> -->
              <!-- <div class="col-auto"><a href=""><button class="btn btn-primary btn-lg" id="submitButton">Borrar</button></a></div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock mid_section %}
