header {
    font-family: "Verdana", "Sans Mono";
    color: #eee;
    background-color: #22b987;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 5px;
}

#h1-family {
    font-family: "Verdana", "Sans Mono";
}

p {
    font-family: "Verdana", "Sans Mono";
    color: #222;
    margin-right: 20rem;
    padding: 3px;
}

ul {
    font-family: "Verdana", "Sans Mono";
}
