{% extends "home/base.html" %}
{% block h1_header %}
  <h1>Libros</h1>
  {% for book in books %}
  <ul class="list-inline">
    <li class="list-inline-item">T&iacute;tulo: {{book.book_title}}</li>
    <li class="list-inline-item">Autor: {{book.author}}</li>
    <li class="list-inline-item">G&eacute;nero: {{book.genre}}</li>
    <li class="list-inline-item">Fecha de publicaci&oacute;n: {{book.published}}</li>
    <li class="list-inline-item">Duraci&oacute;n: {{book.book_length}} p&aacute;ginas</li>
  </ul>
  {% endfor %}
{% endblock h1_header %}
{% block mid_section %}
    <!-- Call to Action-->
    <section class="text-black text-center" id="signup">
      <div class="container position-relative">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <h2 class="mb-4">¿Qu&eacute; acci&oacute;n desea realizar?</h2>
            <!-- Form access buttons -->
            <div class="row justify-content-center">
              <div class="col-auto"><a href="{% url "books-search" %}"><button class="btn btn-primary btn-lg" id="submitButton">Buscar</button></a></div>
              <div class="col-auto"><a href="{% url "books-input" %}"><button class="btn btn-primary btn-lg" id="submitButton">Agregar</button></a></div>
              <!-- <div class="col-auto"><a href=""><button class="btn btn-primary btn-lg" id="submitButton">Editar</button></a></div> -->
              <!-- <div class="col-auto"><a href=""><button class="btn btn-primary btn-lg" id="submitButton">Borrar</button></a></div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock mid_section %}
